.liburua {
  text-align: center;
  margin-top: 0.2rem;
  background-color: black;
  height: 100vh;

  .content-image {
    height: 100%;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .liburua .content-image {
    height: 11rem;
  }
}